#navbar {
    color: white;
}

#card {
    float: right;
}

.container {
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
   
}
p {
    font-family: cursive;
}